[Unit]
Description=Splunk Daemon
After=network.target

[Service]
Type=forking
ExecStart=/opt/splunk/bin/splunk start splunkd --answer-yes --no-prompt --accept-license
<% if node.role?("splunk-peer") %>
ExecStop=/opt/splunk/bin/splunk offline
<% else %>
ExecStop=/opt/splunk/bin/splunk stop splunkd
<% end %>
TimeoutStopSec=900
Restart=always

[Install]
WantedBy=multi-user.target
