<%page expression_filter="h"/>
<%inherit file="//layout/base.html" />
<%namespace name="lib" file="//lib.html" import="*"/>
<%namespace name="helpers" file="//view/_helpers.html" import="*"/>
<%!
    import logging
    from sets import Set
    from splunk.appserver.mrsparkle.lib import util

    logger = logging.getLogger('splunk.module.setup')
    from datetime import datetime
    import splunk.version

    def supportsForceAction():
       v = splunk.version.__version__
       return not v.startswith('3.') and not v.startswith('4.')


    # displays a time in the following format:
    # Future: in <some humanly readable stuff> @ <rendered time>
    # Past:  <some humanly readable stuff> ago @ <rendered time>
    # humanly readable is as follows: ((<days>d (<hours>h))? <minutes>min)| < 1 min
    # rendered time: date is only rendered iff the given time is more than 24 hour away
    # e.g. in 1h 12m @ 18:12 PDT
    # e.g. 1h 12m ago @ 17:00 PDT
    def renderHumanlyReadableTime(t):
        import time
        try:
               t = time.strptime(t, "%Y-%m-%d %H:%M:%S %Z")
               t = time.mktime(t)
        except:
               return t

        now = time.time()
        et  = now
        lt  = t

        if now > t:
           lt = now
           et = t

        d = lt - et
        result = ''
        if d > 60:
           if d/86400 >= 1:
              days   = int(d/86400)
              result = "%dd " % (days)
              d      = d % 86400

           hours = int(d/3600)
           mins  = int( (d%3600 + 30)/60)

           if len(result) > 0 or hours > 0:
              result +=  ("%dh " % (hours))

           result +=  ("%dmin " % (mins))
        else:
           result = "< 1min"

        if now > t:
           result += " ago"
        else:
           result = "in " + result

        format = "%Y-%m-%d %H:%M %Z"
        if lt - et < 86400: # do not display the date if it time is less that 24 hours
           format = "%H:%M %Z"
        result += " @ %s" % (time.strftime(format, time.localtime(t)))

        return result


%>
<%def name="css()">
    <%coreCSSFiles = [
        "/static/css/view.css",
        "/static/css/dashboard.css",
        "/static/css/skins/default/default.css"
    ] %>
    <%lib:stylesheet_tags files="${coreCSSFiles}" />
</%def>

<%def name="custom_css()">
  <%lib:stylesheet_tags files="${['/static/app/%s/application.css' % app, '/modules/paginator/paginator.css', '/static/app/%s/help_tooltip.css' % app]}"/>
  <%lib:script_tags files="${['/static/app/%s/application.js' % app, '/static/app/%s/help_tooltip.js' % app]}" />
</%def>

<script type="text/javascript">
var examplePathElemId = "path_example";
var d = new Date();
var partitionExamples = {
   'host': 'splunk.example.com',
   'date': d.getFullYear() + (d.getMonth() < 10 ? '0' : '') + d.getMonth() + (d.getDate() < 10 ? '0' : '') + d.getDate(),
   'hour': (d.getHours() < 10 ? '0' : '') + d.getHours(),
   'source': '/var/log/access_log',
   'sourcetype': 'access_combined'
};
var changeElemIds = ['cluster_uri', 'path', 'partition_date', 'partition_hour', 'partition_host', 'partition_sourcetype', 'partition_source'];
function buildExamplePath(){
     var path = $('#cluster_uri option:selected').val();

     if(path.length > 0 )
     {
        path += $('#path').val();
        if(path[path.length-1] == '/')
           path = path.substr(0, path.length-1)

        for(var i=0;i<changeElemIds.length; ++i){
            var id = changeElemIds[i];
            if(id.indexOf('partition_') != 0)
               continue;
            if($('#'+id).is(':checked')){
               var segment = partitionExamples[id.substr('partition_'.length)];
               path += (segment[0] == '/' ? '' : '/') + segment;
           }
        }
        if(path[path.length-1] != '/')
           path += '/';
     }
     $('#'+examplePathElemId).html(path);
}

$(function(){
   for(var i=0;i<changeElemIds.length; ++i){
        $('#'+changeElemIds[i]).change(buildExamplePath);
   }
   $('#path').keyup(buildExamplePath);

   $('#form_toggle').click(function(){
       $('#form_toggle').toggleClass('expandForm');
       $('#addRED').slideToggle(500, function(){
            // attempt to trigger resize by body click
            parent.$('body').find('iframe').contents().find('body').trigger('click');
        });
   });

});

</script>

<%def name="get_status_content(item)">
    <span class="status">
        %if not getattr(item.schedule, 'is_scheduled', False):
            ${_('Paused')}
        %elif item.status==None or item.status=='done':
            ${_('Next run %s' % renderHumanlyReadableTime(item.next_scheduled_time) )}
        %elif item.status=='failed':
            ${_('Failed: %d error(s)' % len(item.getErrors()))}
        %else:
            ${_('Running: %s' % item.status)}
        %endif
    </span>
</%def>
<div class="dashboardCell REDJobs">
    <div class="splHeader splHeader-dashboard">
        <h2 title="Scheduled Exports">Scheduled Exports</h2>
        <a href="/app/HadoopConnect/buildexport" target="_top" class="hdfsButton-primary" title="Build Export">Build Export</a>
        <a href="/app/HadoopConnect/export_jobs" target="_top" class="hdfsButton-primary" style="margin-left: 10px;" title="More Details">More Details</a>
    </div>

    %  if listErrors:
        <div class="messages">
            % for error in listErrors:
                <p class="error"> ${error}</p>
            % endfor
        </div>
    % endif
    % if exportJobs.get_total()>0:
    <div class="Paginator splClearfix">
        <span class="count">${ungettext('Showing <span>%(first)s-%(last)s</span> of %(total)s result', 'Showing <span>%(first)s-%(last)s</span> of %(total)s results', pager.item_count) % dict(first=offset+1, last=min(pager.item_count,offset+count), total=pager.item_count) | n}</span>
        <ul class="splClearfix">
            <%
            qs = {}
            qs.update(cherrypy.request.params)
            %>
            % if pager.previous_exists():
                <% qs['offset'] = pager.previous_offset() %>
                <li class="previous">
                    <a href="${ make_url(['custom', app, 'exportjobs', 'list'], _qs=qs) }" >&laquo;${_('prev')}</a>
                </li>
            % else:
                <li class="previous">
                    <a href="#" class="disabled" onclick="return false;">&laquo;${_('prev')}</a>
                </li>
            % endif

            % for page in pager.page_range:
                <% qs['offset'] = pager.page_item_offset(page) %>
                                <li class="${'page active' if pager.is_active_page(page) else 'page'}">
                    <a href="${ make_url(['custom', app, 'exportjobs', 'list'], _qs=qs) }" class="${'active' if pager.is_active_page(page) else ''}">${page|h}</a>
                </li>
            % endfor

            % if pager.next_exists():
                <% qs['offset'] = pager.next_offset() %>
                <li class="next">
                    <a href="${ make_url(['custom', app, 'exportjobs', 'list'], _qs=qs) }">${_('next')}&raquo;</a>
                </li>
            % else:
                <li class="next">
                    <a href="#" class="disabled" onclick="return false;">${_('next')}&raquo;</a>
                </li>
            % endif
        </ul>
    </div>
    % endif
    <table class="splTable">
        <tbody>
            <tr>
                <th title="$export_name" class="help">${_('Name')}</th>
                <th title="$export_status" class="help">${_('Status')}</th>
                <th title="$export_complete" class="help">${_('Completion')}</th>
                <th title="$export_load_factor" class="help">${_('Load Factor')}</th>
                <th title="$export_actions" class="help">${_('Actions')}</th>
            </tr>
            % for item in exportJobs[offset:offset+count]:
                <tr>
                    <td>${item.name}</td>
                    <td>${get_status_content(item)}</td>
                    <td>${"%.2f" % round(100 * item.get_percent_complete(),2)}%</td>
                    <td>${"%.2f" % round(100 * item.get_export_factor(),2)}%</td>
                    <td>
                        <a href="${make_url(['app', app , 'job_details'], _qs=dict(id=item.id))}" target="_top">${_('Details')}</a> |
                        <a href="${make_url(['app', app, 'explore_job'], _qs=dict(zip(['form.Location', 'form.scheduledExport'],[item.uri +  item.base_path, item.name])))}" target="_top">${_('Explore')}</a> |
                        % if (not item.isPaused() )and supportsForceAction():
                            <a href="#" onclick="postit('${make_url(['custom', app , 'exportjobs', 'force'])}',   {'id':'${item.id}'})">${_('Run now')}</a> |
                        % else:
                            <a href="#" class="disabled" onclick="return false;">${_('Run now')}</a> |
                        % endif

                        % if item.isPaused():
                            <a href="#" onclick="postit('${make_url(['custom', app , 'exportjobs', 'resume'])}',   {'id':'${item.id}'})">${_('Resume')}</a> |
                        % else:
                            <a href="#" onclick="postit('${make_url(['custom', app , 'exportjobs', 'pause'])}',   {'id':'${item.id}'})">${_('Pause')}</a> |
                        % endif
                        <a href="#" onclick="postit('${make_url(['custom', app , 'exportjobs', 'delete'])}',  {'id':'${item.id}'})">${_('Delete')}</a>
                   </td>
                </tr>
            % endfor
        </tbody>
    </table>
</div>
<script type="text/javascript">
    function postit(path, parameters) {
        var form = $('<form></form>');

        form.attr("method", "post");
        form.attr("action", path);

        parameters.splunk_form_key = "${util.getFormKey()}"
        $.each(parameters, function(key, value) {
            var field = $('<input></input>');

            field.attr("type", "hidden");
            field.attr("name", key);
            field.attr("value", value);

            form.append(field);
        });

        // The form needs to be apart of the document in
        // order for us to be able to submit it.
        $(document.body).append(form);
        form.submit();
    }
</script>
