# this is the sshd server system-wide configuration file.
# see sshd_config(5) for more information.

# be quiet
LogLevel ERROR

# listen address and protocol version
Port 22
Protocol 2

# host keys & ciphers
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key
<% if !debian_based? %>
KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-ripemd160-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,hmac-ripemd160,umac-128@openssh.com
<% end %>

# security settings
IgnoreRhosts yes
RhostsRSAAuthentication no
HostbasedAuthentication no
PermitEmptyPasswords no

# authentication
UsePAM yes
PubkeyAuthentication yes
ChallengeResponseAuthentication no
<% if node.users.select do |u| u.include?(:authorized_keys) end.empty? %>
PasswordAuthentication yes
<% else %>
PasswordAuthentication <%= node[:ssh][:server][:password_auth] %>
<% end %>
<% if node.users.empty? %>
PermitRootLogin yes
<% else %>
PermitRootLogin <%= node[:ssh][:server][:root_login] %>
<% end %>
AuthorizedKeysFile .ssh/authorized_keys

<%- if node[:ssh][:server][:use_lpk] == "yes" -%>
# ldap public key support
UseLPK yes
LpkLdapConf /etc/ldap.conf
LpkForceTLS yes

<%- end -%>
# forwarding
AllowTcpForwarding yes
GatewayPorts no
X11Forwarding <%= node[:ssh][:server][:x11_forwarding] %>

# pam already prints this stuff
PrintMotd no
PrintLastLog no

# Prevent broken routers from disconnecting the session
ClientAliveInterval 30

# enable sftp support
Subsystem sftp internal-sftp

<% node[:ssh][:server][:matches].sort.each do |name, params| %>
# <%= name %>
Match <%= params[:match] %>
<% params.sort.each do |key, value| %>
<% next if key.to_sym == :match %>
	<%= key %> <%= value %>
<% end %>
<% end %>
