[Unit]
Description=Apache Web Server
ConditionPathExists=/etc/apache2/httpd.conf
After=network.target

[Service]
Type=forking
PIDFile=/run/apache2.pid
ExecStart=/usr/sbin/apache2 -f /etc/apache2/httpd.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
