[Unit]
After=network-online.target

[Service]
ExecStart=<%= @path %>/current/smc \
	-environment <%= node.chef_environment %> \
	-cluster <%= node.cluster_name %> \
	-kafka <%= kafka_connect(node.cluster_name) %>
User=<%= @user %>
Group=<%= @group %>
Restart=always
WorkingDirectory=<%= @path %>/current
SyslogIdentifier=%p

[Install]
WantedBy=multi-user.target
