[Unit]
Description=Beanstalk Server
ConditionPathIsDirectory=/var/lib/beanstalkd
After=network.target

[Service]
ExecStart=/usr/bin/beanstalkd -b /var/lib/beanstalkd -f 60000 -p 11300 -l 0.0.0.0
User=beanstalk
Group=daemon
Restart=always
OOMScoreAdjust=-990

[Install]
WantedBy=multi-user.target
