[Unit]
Description=Chef Client Timer
ConditionPathExists=/etc/chef/client.rb
ConditionPathExists=!/run/lock/chef-client.lock

[Timer]
Unit=chef-client.service
OnBoot=60
OnCalendar=*:<%= @minute %>

[Install]
WantedBy=multi-user.target
