[Unit]
Description=HDFS %I
After=network-online.target
Wants=network-online.target

[Service]
User=hadoop2
Group=hadoop2
Environment=TZ=UTC
ExecStart=/var/app/hadoop2/current/bin/hdfs %I
SyslogIdentifier=hdfs-%I
Restart=always

[Install]
WantedBy=multi-user.target
