[Unit]
Description=Redis Server
After=network.target

[Service]
User=redis
Group=redis
ExecStart=/usr/sbin/redis-server /etc/redis.conf
Restart=always
OOMScoreAdjust=-990

[Install]
WantedBy=multi-user.target
