[Unit]
Description=The Shoreline IPv4 Firewall
After=network.target

[Service]
Type=oneshot
ExecStart=/sbin/shorewall start
<% if node[:virtualization][:role] != "guest" %>
ExecStartPost=/usr/lib/systemd/systemd-sysctl
<% end %>
ExecReload=/sbin/shorewall restart
ExecStop=/sbin/shorewall stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
