#
#       The Shoreline Firewall 6 (Shorewall6) Packet Filtering Firewall - V5.0
#
[Unit]
Description=Shorewall IPv6 firewall
Documentation=man:shorewall6(8) http://www.shorewall.net/Documentation_Index.html
Wants=network-online.target
After=network-online.target
Conflicts=ip6tables.service firewalld.service ip6tables-restore.service

[Service]
Type=oneshot
RemainAfterExit=yes
StandardOutput=syslog
ExecStart=/usr/sbin/shorewall6 start
ExecStartPost=-/usr/lib/systemd/systemd-sysctl
ExecStop=/usr/sbin/shorewall6 stop

[Install]
WantedBy=basic.target
