[Unit]
Description=Sidekiq Workers

[Service]
ExecStart=<%= @homedir %>/.rvm/bin/default_bundle exec sidekiq -q runner,common,default -e production
Restart=always
WorkingDirectory=<%= @homedir %>/current
SyslogIdentifier=sidekiq

[Install]
WantedBy=default.target
