[Unit]
Description=ZooKeeper
After=network.target

[Service]
User=zookeeper
Group=zookeeper
ExecStart=/opt/zookeeper/bin/zkServer.sh
SyslogIdentifier=zookeeper
Restart=always

[Install]
WantedBy=multi-user.target
