[Unit]
Description=MongoDB Server
After=network.target

[Service]
ExecStart=/usr/bin/mongod \
	--bind_ip <%= @bind_ip %> \
	--port <%= @port %> \
	--dbpath <%= @dbpath %> \
	--unixSocketPrefix /run/mongodb \
	--syslog \
	<%= @opts.join(' ') %>
User=mongodb
Restart=always
SyslogIdentifier=mongodb
OOMScoreAdjust=-990

[Install]
WantedBy=multi-user.target
