[Unit]
Description=MongoDB Config Server
ConditionPathExists=/etc/conf.d/%p
After=network.target

[Service]
User=mongodb
EnvironmentFile=/etc/conf.d/%p
ExecStart=/usr/bin/mongod \
	--bind_ip $MONGODB_IP \
	--port $MONGODB_PORT \
	--dbpath $MONGODB_DATA \
	--unixSocketPrefix $MONGODB_RUN \
	--syslog \
	$MONGODB_OPTIONS
Restart=always

[Install]
WantedBy=multi-user.target
