[Unit]
Description=MongoDB Sharding Server (%I)
ConditionPathExists=/etc/conf.d/%p.%I
After=network.target

[Service]
Type=forking
PIDFile=/run/mongodb/%p.%I.pid
User=mongodb
EnvironmentFile=/etc/conf.d/%p.%I
ExecStart=/usr/bin/mongos \
	--bind_ip $MONGOS_IP \
	--port $MONGOS_PORT \
	--configdb $MONGOS_CONFIGDB \
	--unixSocketPrefix $MONGOS_RUN \
	--pidfilepath /run/mongodb/%p.%I.pid \
	--fork --syslog \
	$MONGOS_OPTIONS
Restart=always

[Install]
WantedBy=multi-user.target
