[Unit]
Description=<%= @description %>

[Service]
Type=simple
ExecStart=<%= @command %>
<% if @timeout %>
TimeoutStartSec=<%= @timeout %>
<% end %>
<% @environment.each do |key, value| %>
Environment=<%= key %>=<%= value %>
<% end %>
WorkingDirectory=<%= @directory %>
User=<%= @user %>
Group=<%= @group %>
SyslogIdentifier=%p
