[Unit]
Description=Aerospike XDR
After=network.target
After=aerospike.service

[Service]
ExecStart=/usr/bin/asxdr --config-file /etc/aerospike/aerospike.conf --resume
User=root
Group=root
Restart=always
SyslogIdentifier=%p
LimitNOFILE=<%= node[:aerospike][:fd_max] %>

[Install]
WantedBy=multi-user.target
