[Unit]
Description=FastCGI server (%I)
After=network.target

[Service]
EnvironmentFile=/etc/conf.d/spawn-fcgi.%I
ExecStart=/usr/bin/spawn-fcgi -n -u $FCGI_USER -g $FCGI_GROUP -s $FCGI_SOCKET -U $FCGI_SOCKET_USER -G $FCGI_SOCKET_GROUP -M $FCGI_SOCKET_MODE -- /usr/bin/multiwatch -f $FCGI_CHILDREN -- $FCGI_PROGRAM
Restart=always

[Install]
WantedBy=multi-user.target
