[Unit]
Description=Erlang Port Mapper Daemon
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/epmd -daemon
Restart=always

[Install]
WantedBy=multi-user.target
