[monitor:///usr/lib/hadoop/conf/*.xml]
disabled = 0
sourcetype = hadoop_global_conf
index = hadoopmon_configs

[monitor:///var/log/hadoop/hdfs/namenode-metrics.out]
disabled = 0
sourcetype = hadoop_metrics
index = hadoopmon_metrics

[monitor:///var/log/hadoop/hdfs/datanode-metrics.out]
disabled = 0
sourcetype = hadoop_metrics
index = hadoopmon_metrics

[monitor:///var/log/hadoop/mapred/jobtracker-metrics.out]
disabled = 0
sourcetype = hadoop_metrics
index = hadoopmon_metrics

[monitor:///var/log/hadoop/mapred/tasktracker-metrics.out]
disabled = 0
sourcetype = hadoop_metrics
index = hadoopmon_metrics

[monitor:///var/log/hadoop/mapred/hadoop-mapred-jobtracker-<hostname>*]
disabled = 0
sourcetype = hadoop_jobtracker
index = hadoopmon_logs

[monitor:///var/log/hadoop/mapred/hadoop-mapred-tasktracker-<hostname>*]
disabled = 0
sourcetype = hadoop_tasktracker
index = hadoopmon_logs

[monitor:///var/log/hadoop/hdfs/hadoop-hdfs-namenode-<hostname>*]
disabled = 0
sourcetype = hadoop_namenode
index = hadoopmon_logs

[monitor:///var/log/hadoop/hdfs/hadoop-hdfs-datanode-<hostname>*]
disabled = 0
sourcetype = hadoop_datanode
index = hadoopmon_logs

[monitor:///var/log/hadoop/hdfs/hadoop-hdfs-secondarynamenode-<hostname>*]
disabled = 0
sourcetype = hadoop_secondarynamenode
index = hadoopmon_logs

[monitor:///var/log/hadoop/mapred/userlogs]
disabled = 0
sourcetype = hadoop_userlogs
index = hadoopmon_tasks

[monitor:///var/log/hadoop/mapred/job_*_conf.xml]
disabled = 0
sourcetype = hadoop_job_conf
index = hadoopmon_configs

[monitor:///var/log/hadoop/mapred/.../job_*_conf.xml]
disabled = 0
sourcetype = hadoop_job_conf
index = hadoopmon_configs

[monitor:///var/log/hadoop/mapred/.../job_*]
disabled = 0
sourcetype = hadoop_job
index = hadoopmon_jobs

[monitor:///var/log/hadoop/mapred/history]
disabled = 0
sourcetype = hadoop_job_history
index = hadoopmon_jobs

[monitor:///var/log/hadoop/mapred/hadoop*jobsummary*]
disabled = 0
sourcetype = hadoop_jobtracker
index = hadoopmon_logs

[script://./bin/hadoopmon_cpu.sh]
disabled = 0

[script://./bin/hadoopmon_df.sh]
disabled = 0

[script://./bin/hadoopmon_dfsreport.sh]
disabled = 0

[script://./bin/hadoopmon_fsckreport.sh]
disabled = 0

[script://./bin/hadoopmon_iostat.sh]
disabled = 0

[script://./bin/hadoopmon_ps.sh]
disabled = 0

[script://./bin/hadoopmon_top.sh]
disabled = 0

[script://./bin/hadoopmon_vmstat.sh]
disabled = 0

[script://./bin/introspect.sh]
disabled = 0
