[monitor:///usr/lib/hadoop-0.20/conf/*.xml]
disabled = 0
sourcetype = hadoop_global_conf
index = hadoopmon_configs

[monitor:///var/log/hadoop-0.20/dfs-metrics.out]
disabled = 0
sourcetype = hadoop_metrics
index = hadoopmon_metrics

[monitor:///var/log/hadoop-0.20/mapred-metrics.out]
disabled = 0
sourcetype = hadoop_metrics
index = hadoopmon_metrics

[monitor:///var/log/hadoop-0.20/jvm-metrics.out]
disabled = 0
sourcetype = hadoop_metrics
index = hadoopmon_metrics

[monitor:///usr/lib/hadoop-0.20/logs/hadoop-hadoop-namenode-<hostname>*]
disabled = 0
sourcetype = hadoop_namenode
index = hadoopmon_logs

[monitor:///usr/lib/hadoop-0.20/logs/hadoop-hadoop-jobtracker-<hostname>*]
disabled = 0
sourcetype = hadoop_jobtracker
index = hadoopmon_logs

[monitor:///usr/lib/hadoop-0.20/logs/hadoop-hadoop-datanode-<hostname>*]
disabled = 0
sourcetype = hadoop_datanode
index = hadoopmon_logs

[monitor:///usr/lib/hadoop-0.20/logs/hadoop-hadoop-secondarynamenode-<hostname>*]
disabled = 0
sourcetype = hadoop_secondarynamenode
index = hadoopmon_logs

[monitor:///usr/lib/hadoop-0.20/logs/hadoop-hadoop-tasktracker-<hostname>*]
disabled = 0
sourcetype = hadoop_tasktracker
index = hadoopmon_logs

[monitor:///usr/lib/hadoop-0.20/logs/userlogs]
disabled = 0
sourcetype = hadoop_userlogs
index = hadoopmon_tasks

[monitor:///usr/lib/hadoop-0.20/logs/job_*_conf.xml]
disabled = 0
sourcetype = hadoop_job_conf
index = hadoopmon_configs

[monitor:///usr/lib/hadoop-0.20/logs/.../job_*_conf.xml]
disabled = 0
sourcetype = hadoop_job_conf
index = hadoopmon_configs

[monitor:///usr/lib/hadoop-0.20/logs/.../job_*]
disabled = 0
sourcetype = hadoop_job
index = hadoopmon_jobs

[monitor:///usr/lib/hadoop-0.20/logs/history]
disabled = 0
sourcetype = hadoop_job_history
index = hadoopmon_jobs

[monitor:///usr/lib/hadoop-0.20/logs/hadoop*jobsummary*]
disabled = 0
sourcetype = hadoop_jobtracker
index = hadoopmon_logs

[script://./bin/hadoopmon_cpu.sh]
disabled = 0

[script://./bin/hadoopmon_df.sh]
disabled = 0

[script://./bin/hadoopmon_dfsreport.sh]
disabled = 0

[script://./bin/hadoopmon_fsckreport.sh]
disabled = 0

[script://./bin/hadoopmon_iostat.sh]
disabled = 0

[script://./bin/hadoopmon_ps.sh]
disabled = 0

[script://./bin/hadoopmon_top.sh]
disabled = 0

[script://./bin/hadoopmon_vmstat.sh]
disabled = 0

[script://./bin/introspect.sh]
disabled = 0

