[Unit]
Description=GitLab Unicorn Server
After=network.target

[Service]
ExecStart=<%= @homedir %>/.rvm/bin/default_bundle exec unicorn -c <%= @homedir %>/current/config/unicorn.rb -E production config.ru
ExecReload=/bin/kill -USR2 $MAINPID
ExecStop=/bin/kill -QUIT $MAINPID
User=git
Group=git
Restart=always
WorkingDirectory=<%= @homedir %>/current
SyslogIdentifier=gitlab-unicorn

[Install]
WantedBy=multi-user.target
