[Unit]
Description=Sidekiq Workers

[Service]
ExecStart=<%= @homedir %>/.rvm/bin/default_bundle exec sidekiq -q post_receive,mailer,system_hook,project_web_hook,gitlab_shell,common,default -e production
Restart=always
WorkingDirectory=<%= @homedir %>/current
SyslogIdentifier=sidekiq

[Install]
WantedBy=default.target
