[Unit]
Description=Unicorn Server

[Service]
ExecStart=<%= @homedir %>/.rvm/bin/default_bundle exec unicorn -c <%= @homedir %>/current/config/unicorn.rb -E production config.ru
ExecReload=/bin/kill -USR2 $MAINPID
ExecStop=/bin/kill -QUIT $MAINPID
Restart=always
WorkingDirectory=<%= @homedir %>/current
SyslogIdentifier=unicorn

[Install]
WantedBy=default.target
