<%page expression_filter="h"/>
<%inherit file="//layout/base.html" />
<%namespace name="lib" file="//lib.html" import="*"/>
<%!
    import logging
    logger = logging.getLogger('splunk.module.setup')
%>
<%def name="custom_css()">
    <%lib:stylesheet_tags files="${['/static/app/%s/setup.css' % app ]}" />
    <%lib:script_tags files="${['/static/app/%s/setup.js' % app]}" />
</%def>
<div class="SuccessMessage">
  <h2>Failure!</h2>
  <p>Your Splunk for Hadoop Ops settings could not been saved.&nbsp;&nbsp;Click "OK" to go back to the Splunk for Hadoop Ops setup page.</p>
  <a target="_parent" href="${make_url('/app/%s/setup' % app)}" class="splButton-primary">OK</a>
</div>

