[Unit]
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=<%= @homedir %>/bin/<%= @name %> \
	-environment <%= node.chef_environment %> \
	-cluster <%= node.cluster_name %> \
	-kafka <%= kafka_connect(node.cluster_name) %> \
	-port 1040
User=root
Group=root
Restart=always
WorkingDirectory=<%= @homedir %>
SyslogIdentifier=%p

[Install]
WantedBy=multi-user.target
