[Unit]
Description=NFS Mount Daemon
Requires=proc-fs-nfsd.mount
After=proc-fs-nfsd.mount
After=network.target
PartOf=nfs-server.service
PartOf=nfs-utils.service

[Service]
Type=forking
ExecStart=/usr/sbin/rpc.mountd
