[Unit]
Description=Network Time Service
ConditionPathExists=/etc/ntp.conf
After=network.target

[Service]
ExecStartPre=-/usr/sbin/ntpdate ntp1.hetzner.de
ExecStart=/usr/sbin/ntpd -g -n
ExecStopPost=-/sbin/hwclock --systohc
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target
