[Unit]
Description=Network Time Service
ConditionPathExists=/etc/ntp.conf
After=network.target

[Service]
ExecStartPre=-/usr/sbin/ntpdate pool.ntp.org
ExecStart=/usr/sbin/ntpd -n
ExecStopPost=-/sbin/hwclock --systohc
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target
