[Unit]
Description=Network Time Service
ConditionPathExists=/etc/ntp.conf
After=network.target

[Service]
ExecStart=/usr/sbin/ntpd -n
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target
