[Unit]
Description=Self Monitoring and Reporting Technology (SMART) Daemon
ConditionPathExists=/etc/smartd.conf
After=basic.target

[Service]
ExecStart=/usr/sbin/smartd -n
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
