[Unit]
Description=CouchDB
Requires=epmd.service
After=network.target epmd.service

[Service]
ExecStart=/usr/bin/couchdb -o /dev/stdout -e /dev/stderr
User=couchdb
Group=couchdb
Restart=always
SyslogIdentifier=couchdb
OOMScoreAdjust=-990

[Install]
WantedBy=multi-user.target
