[Unit]
Description=Chef Solr Server
After=network.target

[Service]
User=chef
Group=chef
ExecStart=/usr/bin/chef-solr -c /etc/chef/solr.rb
Restart=always

[Install]
WantedBy=multi-user.target
