[Unit]
Description=Chef Server API
Requires=couchdb.service rabbitmq.service
After=network.target

[Service]
User=chef
Group=chef
ExecStart=/usr/bin/chef-server -N -e production -c 1
SyslogIdentifier=chef-server-api
Restart=always

[Install]
WantedBy=multi-user.target
