[Unit]
Description=Chef Client Timer
ConditionPathExists=/etc/chef/client.rb
ConditionPathExists=!/run/lock/chef-client.lock

[Timer]
Unit=chef-client.service
OnBootSec=3600
OnUnitInactiveSec=3600

[Install]
WantedBy=multi-user.target
