[Unit]
Description=Chef Expander
Requires=rabbitmq.service chef-solr.service
After=network.target rabbitmq.service chef-solr.service

[Service]
User=chef
Group=chef
ExecStart=/usr/bin/chef-expander -c /etc/chef/expander.rb
Restart=always
SyslogIdentifier=chef-expander

[Install]
WantedBy=multi-user.target
