[Unit]
Description=Kafka Broker
After=network.target zookeeper.service

[Service]
User=kafka
Group=kafka
Environment="JMX_PORT=19092"
Environment="KAFKA_OPTS=-javaagent:/usr/lib/jvm/jolokia.jar=port=29092,host=0.0.0.0"
Environment="KAFKA_HEAP_OPTS=-Xmx16G -XX:MaxDirectMemorySize=8G"
ExecStart=/var/app/kafka/current/bin/kafka-run-class.sh kafka.Kafka /var/app/kafka/current/config/server.properties
OOMScoreAdjust=-2
Nice=-10
IOSchedulingPriority=1
Restart=always
SyslogIdentifier=%p

[Install]
WantedBy=multi-user.target
