[Unit]
Description=Kafka Broker
After=network.target zookeeper.service

[Service]
User=kafka
Group=kafka
Environment="JMX_PORT=17006"
ExecStart=/var/app/kafka/current/bin/kafka-run-class.sh kafka.Kafka /var/app/kafka/current/config/server.properties
OOMScoreAdjust=-2
Nice=-10
IOSchedulingPriority=1
Restart=always
SyslogIdentifier=%p

[Install]
WantedBy=multi-user.target
