[Unit]
Description=Dumbo (Hadoop -> Druid importer)

[Service]
ExecStart=/var/app/dumbo/current/dumbo
User=dumbo
Group=dumbo
SyslogIdentifier=druid-dumbo

[Install]
WantedBy=default.target
